.logo{
    width: 40px;
}
.nav-tabs{
    /* width: 100%; */
}
.nav-tabs a{
    color: #fff;
    font-size: 11px;
}
.logo{
    width: 50px;
    height: 22px;
    float: right;
}
.alli-header{
    text-align: center;
    font-family: 'Ramabhadra', sans-serif;
    text-align: center;
    color:#05154fff;
    font-weight: 600;
    font-size: 40px;
}
.sub-header{
    text-align: center;
    font-size: 10px;
    color: #000;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: 300;
    margin-top: -12px;
    color:#05154fff;
}
.landing-image{
    width: 62%;
    margin: 0 auto;
    margin-top: 30px;
    height: 80%;
}
.alli-intro{
    width: 62%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 0px;
    color:#05154fff;
    font-size: 20px;
}
.service{
    margin-top: 50px;
}
footer{
    background: #000;
    margin-top: 200px;
    color: #fff;
}

.mobile-navbar{
    display: none;
}

@media only screen and (min-width: 320px){
    .alli-intro{
        text-align: justify;
        margin-top: 10px;
        color:#05154fff;
        font-size: 14px;
    }
    .nav{
        display: none;
    }
    .search-logo{
        width: 10px;
        height: 10px;
    }
    .menu-logo{
        width: 17px;
        height: 19px;
        float: left;
        margin-right: 75px;
    }

    .alli-header{
        text-align: center;
        font-family: 'Ramabhadra', sans-serif;
        text-align: center;
        color:#05154fff;
        font-size: 35px;
    }
    .sub-header{
        font-size: 8px;
        color: #000;
        font-weight: 300;
        margin-top: -12px;
        color:rgb(109, 136, 233);
    }

    
    .mobile-navbar{
        display: block;
    }
    #mobileMenu{
        display: none;
    }
}
@media only screen and (min-width: 768px){
    .alli-intro{
        text-align: justify;
        margin-top: -20px;
        color:#05154fff;
        font-size: 15px;
    }
    .nav{
        display: block;
    }
    .alli-intro{
        text-align: justify;
        margin-top: -20px;
        color:#05154fff;
        font-size: 15px;
    }
    .search-logo{
        display: none;
    }
    .menu-logo{
        display: none;
    }
    .mobile-navbar{
        display: none;
    }
}


@media only screen and (min-width: 1024px){ 
    .nav{
        display: block;
    }
    .alli-header{
        text-align: center;
        font-family: 'Ramabhadra', sans-serif;
        text-align: center;
        color:#05154fff;
        font-size: 52px;
    }
    .sub-header{
        font-size: 12px;
        color: #000;
        font-weight: 300;
        margin-top: -12px;
        color:rgb(109, 136, 233);
    }
    .alli-intro{
        text-align: justify;
        margin-top: -20px;
        color:#05154fff;
        font-size: 20px;
    }
    .mobile-navbar{
        display: none;
    }

}
